In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heights.csv')

In [3]:
df.head()

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [4]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [8]:
Q1= df.height.quantile(0.25)
round(Q1,2)

5.35

In [9]:
Q1= df.height.quantile(0.75)
round(Q1,2)

6.28